{% load static %}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>amazon_price_alerter Price Alert</title>

    <!-- Bootstrap -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- embed css files -->
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
    <link rel="stylesheet" href="{% static 'products/css/style.css' %}">
</head>

<body class="bg-light">

<nav class="navbar navbar-dark bg-primary mb-4">
    <div class="container">
        <span class="navbar-brand mb-0 h1">
            amazon_price_alerter Price Alert
        </span>
    </div>
</nav>

<div class="container">

    {% block content %}
    {% endblock %}

</div>

<!-- embed js files -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="{% static 'products/js/main.js' %}"></script>

</body>
</html>
